html { font-size: 12px; color: #404040; font-family: 'Microsoft YaHei'; background-color:#f6f9fb;}
body, button, ul, li, ol, p, dl, dd, h1, h2, h3, h4, h5, h6, img, iframe, form, input { margin: 0; padding: 0; list-style-type: none; border: 0; }


#bd { margin: 0 auto; width: 960px; padding-top: 40px; }

.body:after { content: '.'; display: block; clear: both; height: 0; visibility: hidden; }
.body { zoom: 1; }

a { color: #1a66b3; text-decoration: none; }
a:hover { text-decoration: underline; }

.btn_go_buy{ display: inline-block; height: 22px; line-height: 22px;padding: 0 7px; margin: 0 16px;vertical-align: middle; margin-top: -3px; color: #666; background-position:0px -238px;}
.btn_back_safe{ display: inline-block; height: 22px; line-height: 22px;padding: 0 7px; margin: 0 16px;vertical-align: middle; margin-top: -3px; color: #666; background-position:0px -315px;}
.btn_go_buy:hover { color: #1a66b3; text-decoration: none; background-position:-81px -238px;}
.btn_back_safe:hover { color: #1a66b3; text-decoration: none;}
.register_box  .c_9c{color:#9c9c9c;}
.register_box  .c_9c:hover{color:#1a66b3;}

.shadow_box { background-color:#ebeeef; width:950px; margin-bottom:40px; position:relative;}
.register_box { background: #fff; position:relative; top:-10px; right:-10px; width:950px;font-family:'Microsoft YaHei'; box-shadow:-1px 1px 1px rgb(232,235,236);}
.register_box .head { height: 74px; border-bottom: solid 1px #eceef2; padding-right: 15px; margin:0 10px; }
.register_box .head .logo { float:left; padding-left:10px; margin-top:20px;}
.register_box .head h3 { font-size:16px; line-height:18px; padding-left:13px; float:left; margin-top:42px;}
.register_box .head .more, .register_box .head .dd_more { float: right; color: #646464; line-height:22px; margin-top:40px;}
.register_box .head .more a { background-color:#9a9fa6; color: #fff; width:44px; height:22px; text-align:center; margin-left:9px; display:inline-block; border-radius:2px;}
.register_box .head .more a:hover { background-color:#8e96a0; text-decoration:none;}
.register_box .head .dd_more a { color:#646464;}
.register_box .head .dd_more a.home { padding-left:16px; margin-right:15px; background:url(../images/icon_20150706.png) 0 2px no-repeat;}
.register_box .head .dd_more a:hover { color:#ff3c00; text-decoration:none;}
.head_a:hover{text-decoration: none;}
.head_a{width: 135px;height: 46px;background-color: #f5f5f5;display: inline-block;position: relative;left: 20px;border: 1px solid #eceef2;top: 27px;font-size: 16px;line-height: 42px;text-align: center;color: #464646;margin-left: 6px;}
.head_a1{background-color: white}
.register_box .head_a1 {background-color: white;top: 28px;border-bottom: none;}
.register_box .body { padding: 45px 0 25px; position: relative;}
.register_box table td { padding:0 0 30px;position:relative;}
.register_box .z_index2{z-index:2;}
.register_box table { color: #9e9e9e; }
.register_box table .t { font-size: 14px; width: 338px; padding-right: 10px; text-align: right; vertical-align: top; color: #646464;padding-top: 8px; font-family: 'Microsoft YaHei';_line-height: 24px;}
.register_box .text { border: 1px solid #e6e6e6;font-family: 'Microsoft YaHei'; height: 18px; float: left; width: 290px; margin-right: 10px; padding:9px 10px; line-height: 18px; outline:0 none; border-radius:2px; color:#333;}
.register_box .code_pic { margin-right:3px; float:left;}
.register_box .code_picww { line-height:38px;}
.register_box .text.pin { width:160px; margin-right:5px;}
.register_box .get_pin { width:124px; text-align:center; border: 1px solid #e6e6e6; background-color:#f1f1f1; color:#737373; float:left; display:block; line-height:36px; height:36px; margin-right:10px;}
.register_box .get_pin:hover { background-color:#ebebeb; text-decoration:none;}
.register_box .cue,.register_box .prompt{ color:#f00000; display:block; line-height:14px; padding:0 4px; margin-right:5px; position:absolute; left:8px; bottom:8px; }
.register_box .cue .icon,.register_box .prompt .icon{ display: inline-block; width: 15px; height: 15px; background-position: -215px -208px; float: left; margin:2px 4px 0 0; }
.register_box .cue .show_pass{display:inline-block;color: #666;height:18px;line-height:18px;background:url(../images/register_btn.png) 0px bottom no-repeat;width:57px;text-align:center;margin-left:6px;margin-right:3px;_margin-top:7px;_margin-bottom:7px;}
.register_box .cue .show_pass:hover{background-position:-82px bottom;color:#1a66b3;text-decoration:none;}
.register_box  .prompt{border:1px solid #fcd9b0; line-height:18px;background-color:#fff0cf;color:#ff8400; left:0; width:302px;}
.register_box  .prompt .icon{ background:url(../images/icon_20150706.png) 0 -60px no-repeat;}
.register_box .icon_yes,.register_box .icon_wrong  { display: inline-block; margin-top:14px;width: 16px; height: 16px; background:url(../images/icon_20150706.png) 0 -40px no-repeat;}
.register_box .icon_wrong { background-position:0 -20px;}
.register_box .icon_yes.pin_i,.register_box .icon_wrong.pin_i { position:absolute; left:160px; top: 0px;}

.register_box .little_cue{float:none;height:23px;line-height:23px;}
.register_box .little_cue .icon{margin:3px 4px 0px 0px;}
.register_box .warn { color:#787878; }
.register_box .v { border: solid 1px #e2e2e2; vertical-align: middle; margin-right: 10px; _margin-right: 8px; }
.register_box .v_box { display: block; clear: both;padding-top: 10px;}
.register_box .btn_login { display:inline-block; font-size:20px; border: 0; width:178px; height:44px; line-height:44px; cursor: pointer; text-align:center; background-color:#ff2832; color:#fff; border-radius:22px; margin-left:50px; }
.register_box td .hover ,.register_box .btn_login:hover,.register_box .login_eamil:hover{ background-color:#f01923; text-decoration:none;}
.register_box .btn_login.unable,.register_box .btn_login.unable:hover { cursor:default; background-color:#d1d1d1;}
.register_box .clause { padding: 4px 0 35px 0; color: #3d3d3d; }
.register_box .clause input { vertical-align: middle; margin: -4px 8px 0 0; }
.register_box .d_text { display: inline-block; width: 472px; line-height: 16px;}
.register_box .clause .float_l { float: left; }
.register_box .clause .cue { width: 280px; line-height: 24px;}
.register_box .clause .cue .icon { margin-bottom: 20px; }
.register_box .wrong { border-color: #ff4646; background-color:#fef0ef; color:#f46561; }

.register_box .warn_p {line-height:12px;display:block;position:absolute;top:47px;*top:48px;left:49px;}
@-moz-document url-prefix(){.register_box .warn_p{top:126px;left:334px;}}
.register_box .msg_level { display: inline-block; margin: 0 8px 0 0; overflow: hidden; width:70px; vertical-align: middle; *display: inline; position: relative; top: -1px; }
.register_box .msg_level span { background-color: #d6d6d6; display: inline-block; height: 10px; margin-left: 1px; width: 22px; _height: 12px; _padding-top: 1px; _overflow: hidden; _margin-top: -16px; }
.register_box .msg_level .s1 { background-color: #ff3600; border-radius:2px 0 0 2px; }
.register_box .msg_level .s2 { background-color: #ffc000; }
.register_box .msg_level .s3 { background-color: #71b300; border-radius:0 2px 2px 0; }
.email_select{border:1px solid #c8c8c8;width:236px;position:absolute;top:44px;left:0px;background-color:#fff;z-index:2;}
@-moz-document url-prefix(){.email_select{top:69px;left:285px;}}
.email_select a{display:block;height:24px;line-height:24px;color:#666;padding-left:10px;}
.email_select a:hover{background-color:#f0f0f0;text-decoration:none;}

.success_box { padding:35px 0 150px 0; }
.success_box .icon_yes_b { display: inline-block; vertical-align: middle; width:28px; height:28px; background:url(../images/icon_20150706.png) 0 -80px no-repeat; margin:0 10px 0 0;}
.success_box .text_box { clear: both; display: block; }
.success_box p {text-align:center; line-height: 36px; }
.success_box p .f16 { font-size:16px; color:#5a5a5a;}
.success_box .text_box { color:#646464; height:36px;}
.success_box .text_box2 { color: #666; height:24px;line-height:24px;}
.success_box .text_box b { font-size: 14px; color: #404040; font-family: Arial;}
.success_box .text_box b.red{color:#c30;}
.success_box p a.btn_go_buy,.success_box p a.btn_back_safe{ margin-top: -9px; vertical-align: middle;display: inline-block;*margin-top: -7px;}
.success_box .send_begin{font-weight:bold;color:#787878;margin-left:10px;}


.register_box .tools_box { border-top: solid 1px #e9e9e9; background: #fffeed; text-align: center; padding-bottom: 30px; color: #666; position: absolute;bottom: 0;left: 0;width: 100%;}
.register_box .tools_box p { padding: 24px 0; }
.register_box .icon { display: inline-block; width: 48px; height: 50px; vertical-align: middle; margin-right: 11px; }
.register_box .btn_link { display: inline-block; width: 124px; height: 36px; vertical-align: middle; margin-top: 4px; }
.register_box .mail .icon { background-position: 0 -418px; }
.register_box .mail .btn_link { background-position: 0 -129px; margin-right: 70px; width:146px;}
.register_box .mail .btn_link:hover { background-position: 0 -165px; }
.register_box .phone .icon { background-position: -59px -418px; width: 25px; }
.register_box .phone .btn_link { background-position: 0 -201px; margin-right: 70px; width:146px; }
.register_box .phone .btn_link:hover { background-position: 0 -237px; }
.register_box .info .icon { background-position: -104px -418px; width: 32px; }
.register_box .info .btn_link { background-position: 0 -309px; width: 160px; }
.register_box .info .btn_link:hover { background-position: 0 -273px; }
.register_box .login_eamil{display: inline-block;font-size:22px;border:0;width:222px;height:54px;line-height:54px;cursor:pointer;text-align:center;background-color:#ff2832;color:#fff;border-radius:27px; margin-top:30px;}

.register_box .check_eamil{
display:inline-block;height:28px;line-height:28px;width:76px;text-align:center;background-position:0px -287px;position:relative;top:10px;left:20px;*top:5px;
}
.register_box .login_eamil:hover{background-position:-81px -210px;}
.register_box .check_eamil:hover{background-position:-81px -287px;}
.register_box .c_yellow{color:#282828;font-size:16px; background-color:#fdf5e0; border:1px solid #fdebc1; padding:0 36px; line-height:48px; display:inline-block; margin-top:30px;}
.register_box .c_yellow2{color:#fa831a;font:bold 14px/36px '宋体';}
.register_box .c_yellow2 b{ color:#c30; padding:0 3px;}
.register_box .c_bold{color:#3f3f3f;height:20px;font:bold 14px/20px '宋体';}
.register_box .c_link2{font:normal 12px/20px '宋体';height:20px;}
.register_box .c_link1{font:normal 12px/36px '宋体';margin-left:12px;}
.register_box .ml274{margin-left:274px;}
.register_box .ml603{margin-left:603px;}
.register_box .line{height:1px;font-size:0;overflow:hidden;background:#e9e9e9;width:705px;margin:7px 122px 12px 148px;}
.register_box .ml30{margin-left:30px;}
.register_box .ml20{margin-left:-20px;}



.btn_time { height: 19px; line-height: 19px; border: solid 1px #c3c3c3; background: #eee; color: #9e9e9e; padding: 0 10px; border-radius: 3px; margin-right: 10px;display: inline-block; }
.mask { width: 100%;position: absolute;top: 0;left: 0;background: #000; filter: alpha(opacity = 60); opacity: 0.6;height: 100%; z-index: 1000;}
.register_box .c_yellow3{ font-size:12px;}
.success_box .text_box2 b{ color:#c30;}


.register_box .success_table { width:350px; padding:0; margin:26px auto 0; font-size:16px; color:#282828; border:1px solid #fdebc1; border-width:1px 1px 0 1px; line-height:44px;}
.register_box .success_table th { width:108px; font-weight:normal; background-color:#fdf5e0;  border-right:1px solid #fdebc1; border-bottom:1px solid #fdebc1; padding:0; margin:0;}
.register_box .success_table td { padding:0 0 0 30px; margin:0; background-color:#fdf5e0;  border-bottom:1px solid #fdebc1;}
.register_box .book_code { position:absolute; right:10px; bottom:10px; color:#646464; text-align:center; line-height:20px;}
.new_tip { line-height:24px; color:#828282; padding-left:22px; background:url(../images/new_tip.png) 3px 5px no-repeat #fef7f5; width: 670px;  border: 1px solid #fedbd1; margin:-30px auto 30px;}
.email_select{ position:absolute;top:37px;left:0px;width:290px; margin-right: 10px; padding:9px 10px;border:1px solid #c8c8c8;background-color:#fff;z-index:2;overflow: hidden;}
@-moz-document url-prefix(){.email_select{top:39px;left:0px;}}
.email_select li{display:block;height:24px;line-height:24px;color:#666;padding-left:10px; font-size:12px;font-family:'Microsoft YaHei';overflow: hidden;overflow: hidden;}
.email_select .hover_domain{background-color:#f0f0f0;text-decoration:none;cursor: pointer}
.email_change{padding-top: 22px; }
.email_change  .dd_bottom{margin-bottom:10px;}

.register_box .text:focus{color: #505050;border-color: #969696;}
.register_box .get_pinUnClick:hover {text-decoration:none;background-color:#f1f1f1;cursor:text;}
::-webkit-input-placeholder {color: #969696;}/* WebKit browsers */
:-moz-placeholder {color: #969696 !important ;}/* Mozilla Firefox 19+ */

::-moz-placeholder {color: #969696 !important;} /* Mozilla Firefox 19+ */
:-ms-input-placeholder {color: #969696 !important;} /* Internet Explorer 10+ */

.zccg p{ width:200px; margin:20px auto; background:url(../images/icon_20150706.png) 0 -75px no-repeat; padding-left:35px; height:40px; line-height:40px; font-size:16px; color:#565455; }
.zccg ul li{ display:inline-block; font-size:16px; color:#222; height:44px; line-height:44px;}
.zccg ul{ width:350px; background:#fdf5e0; margin:0 auto; border:1px solid #ffe8be;}
.zccg ul li.first{ width:107px; text-align:center; border-right:1px solid #ffe8be;}
.zccg ul li.last{ text-indent:2em;}
.zccg_btn a{ display:block; height:54px; line-height:54px; font-size:18px; color:#fff; width:222px; margin:15px auto; background:#ff2732; text-align:center; border-radius:28px; }
.zccg_btn span{ display:block; text-align:center;}
.zccg_btn span em{ font-style:normal; color:#fe5431; height:20px; line-height:20px;}
.zccg_btn{ min-height:280px;}




